


<!-- Side bar -->

<mat-sidenav-container class="cont-style" >
  <mat-sidenav class="sidenav" #sidenav mode="push" [(opened)]="opened">

<!-- 1 -->
    <ul class="sb_ul">
      <button class="btn-back" (click)="sidenav.close()"> 
      <div class="neonMenu">
        Menu 
      </div>
    </button>
      <li class="sb_li">
      <a  href="https://drive.google.com/drive/folders/10DwhPXZgp1Z2_aDofHGx3N_EWdsHLfdf?usp=sharing" target="_blank"> Resume </a>
    </li>
    </ul>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- 2 -->
    <br>
    <div class="neonText">

      Omer Shlomo
    </div>
    <br>
    <span>
      <button class="menu_bttn" (click)="sidenav.toggle()" >
       <img class="menu_icon" [src]="menu" alt="menu">
      </button>

    </span>
    

<!-- 3 -->
   

<div class="tab" >
<mat-tab-group dynamicHeight >
    <mat-tab label="About" >
        <div class="example-large-box mat-elevation-z4">
        <!-- 4 -->
        <p>
        <span>
            <img id="myImg" [src]="omer" alt="" style="border-radius:100% ;">

        </span>
        <br>
      <span>
        
        I'm Omer Shlomo,
     </span>
     <br>
     <span>
      {{ageFromDateOfBirthday("1995.5.12")}} years old, 
    </span>
    <br>
    
        Working in a startup company  <a href="https://www.yooz.plus/"><img [src]="yooz" class="yooz" ></a>
        <br>
        As Fullstack developer, Qa and a Designer.
    </div>
    </mat-tab>
    <mat-tab label="Framework">
      <div class="example-large-box mat-elevation-z4">


<!-- Frameworks Tab -->
        <ul>
        Frameworks I familiar with:
        
          <br>
          <mat-list role="list">
            <mat-list-item role="listitem" style="color:aliceblue">Angular</mat-list-item>
            <mat-list-item role="listitem" style="color:aliceblue">Django</mat-list-item>
            <mat-list-item role="listitem" style="color:aliceblue">Express</mat-list-item>
            <mat-list-item role="listitem" style="color:aliceblue">.Net/ASP.Net - Beginner</mat-list-item>
          </mat-list>

        
      </ul>
      </div>
    </mat-tab>

<!-- Datasets Tab -->


    <mat-tab label="Databases">
      <div class="example-large-box mat-elevation-z4">
        <ul>
        Databases I familiar with:
        <ul>
          <br>
          NoSQL
        <ul>
          <br>
          <li>
            Firebase
          </li>
          <br>
          <li>
            MongoDb
          </li>
        </ul>
        <br>

        SQL
        <ul>
          <br>
          <li>MySQL</li>
          <br>
          <li>SQL Server</li>
        </ul>

        </ul>
      </ul>
      </div>
    </mat-tab>

<!-- Languages Tab -->

    <mat-tab label="Languages">
      <div class="example-large-box mat-elevation-z4">
        <ul>
        Languages I familiar with:
        <br>
        <mat-list role="list">
          <mat-list-item role="listitem" style="color:aliceblue">Python</mat-list-item>
          <mat-list-item role="listitem" style="color:aliceblue">Javascript</mat-list-item>
          <mat-list-item role="listitem" style="color:aliceblue">Typescript</mat-list-item>
          <mat-list-item role="listitem" style="color:aliceblue">Nodejs</mat-list-item>
          <mat-list-item role="listitem" style="color:aliceblue"> C# - Beginner</mat-list-item>
        </mat-list>

      </ul>
      
      </div>
    </mat-tab>
  </mat-tab-group>
</div>





<!-- Buttons -->
<div class="buttons">
<a href="https://www.facebook.com/omermaorsh"><img class="img-size" [src]="facebook" alt=""></a>
<a href="https://www.linkedin.com/in/omer-shlomo-396b0419a"><img class="img-size" [src]="in" alt=""></a>
<a href="https://github.com/Omeritzio"><img class="img-size" [src]="github" alt=""></a>
</div>


</mat-sidenav-content>



</mat-sidenav-container>

