
<!-- Video Background -->
<video autoplay muted loop  id="myVideo">
  <source src="..\assets\Chip-84086.mp4" type="video/mp4">
</video>




<!-- Side bar -->

<mat-sidenav-container class="cont-style" >
  <mat-sidenav class="sidenav" #sidenav mode="push" [(opened)]="opened">

<!-- 1.List -->
    <ul class="sb_ul">
      <button class="btn-back" (click)="sidenav.close()"> 
      <div class="neonMenu">
        Menu 
      </div>
    </button>
      <li class="sb_li">
      <a  href="..\assets\Omer_Shlomo_Resume.docx" target="_blank" download="Omer_Shlomo_Resume2.docx"> Resume </a>
    </li>
    </ul>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- 2.Title -->
    <div class="neonText">
      Omer Shlomo
    </div>
    <br>
    <span>
      <button class="menu_bttn" (click)="sidenav.toggle()" >
       <img class="menu_icon" [src]="menu" alt="menu">
      </button>

    </span>
    

<!-- 3.Tabs -->
   

<div class="tab" >
<mat-tab-group dynamicHeight >
    <mat-tab label="About" >
        <div class="example-large-box mat-elevation-z4">
        <!-- 4.Pragraph -->
        <p>
        <span>
            <img id="myImg" [src]="omer" alt="" style="border-radius:100% ;">

        </span>
        <br>
      <span>
        
        I'm Omer Shlomo,
     </span>
     <br>
     <span>
        27 years old, Student .
    </span>
    <br>
    <span>
        Working in startup- that called <a href="https://www.yooz.plus/"><img [src]="yooz" class="yooz" ></a>
    </span>
    <br>
    <span>
        Working as Quality assurance, Web developer and a Designer.

    </span>
    </div>
    </mat-tab>
    <mat-tab label="Framework">
      <div class="example-large-box mat-elevation-z4">
        <!-- 5.List -->
        <ul>
        Frameworks I know to work with:
        <ul>

          <br>
            <li>
            Django
            </li>
          <br>
          <li>
            Angular
          </li>
        </ul>
      </ul>
      </div>
    </mat-tab>
    <mat-tab label="Databases">
      <div class="example-large-box mat-elevation-z4">
        <ul>
        Databases I know to work with:

        

        <ul>
          <br>
          NoSQL
        <ul>
          <br>

          <li>
            Firebase
          </li>

          <br>

          <li>
            MongoDb
          </li>

          <br>

          <li>
            Redis
          </li>

          <br>

          <li>
            Neo4j
          </li>
        </ul>
          
        <br>

        SQL
        
        <ul>
          <br>

          <li>MySQL</li>
        </ul>

        </ul>
      </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


<h1 style="color: white;text-align: center;font-size: 3em;" class="neonText"><u><b>Songs I Like The Most:</b></u></h1>

<!-- Video Slider -->
<ng-image-slider style=" display: flex;
align-items: center;
justify-content: center;" [images]="imageObject" #nav></ng-image-slider>

<!-- Buttons -->
<div class="buttons">
<a href="https://www.facebook.com/omermaorsh"><img class="img-size" [src]="facebook" alt=""></a>
<a href="https://www.linkedin.com/in/omer-shlomo-396b0419a"><img class="img-size" [src]="in" alt=""></a>
<a href="https://github.com/Omeritzio"><img class="img-size" [src]="github" alt=""></a>
</div>


</mat-sidenav-content>



</mat-sidenav-container>

